.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

.adress {
    font-style: normal;
}

.icon {
    fill: var(--icons-bg-color);
    transition: fill var(--cubic-function);
}